.cta {
  color: $primary-clr;
  padding: 0.5rem 0.8rem;
  margin: 1rem 0 1.2rem 0;
  background: $tertiary-clr;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  border-color: none;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background: $tertiary-light-clr;
}
