.cta {
  color: $primary-clr;
  padding: 0.5rem 0.8rem;
  margin: 0;
  margin-right: 1rem;
  margin-top: 0.5rem;
  background: $tertiary-clr;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  border-color: none;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background: $tertiary-light-clr;
}
