/* Carousel */
.carousel {
  background: $primary-clr;
  text-align: center;
  padding: 1rem 0;
  // height: 8em;
  height: 20vh;
  // max-width: 750px;
  max-width: 90%;
  margin: auto;
  position: relative;
  overflow: hidden;
  h2 {
    margin: 1rem 0;
    // margin-top: 1em;
    padding: 0;
    font-size: 2.5em;
    text-align: center;
    color: $secondary-clr;
    font-family: $title-font;
  }
  .slides {
    width: 100%;
    left: 0;
    padding-left: 0;
    padding-top: 1em;
    overflow: hidden;
    list-style: none;
    position: relative;
    transition: transform 0.5s;
  }
}
.carousel .slides li {
  width: 25%;
  position: relative;
  float: left;
}

.carousel li  p {
    margin-top: 0;
  }

.carousel li  q {
    max-width: 80%;
    margin: auto;
    color: $secondary-clr;
    font-family: $body-font ;
    font-size: 1.5em;
    font-weight: bold;
  }

/* Author */
.carousel li span.author {
  margin-top: 0.5em;
  font-size: 1.5em;
  color: $design1-clr;
  display: block;
}
/*  Fonctionality */
.carousel .slidesNavigation {
  display: block;
  list-style: none;
  text-align: center;
  bottom: 1em;
  // Centering trick
  // Absolute positioning
  position: absolute;
  // Abosulte positioning
  width: 104px; //This width  is the addition of the width of all the navigations dots - So in this case is   104 because the navigation dots are 26px (width:10px and 6px marginleft + 6 px marginright) and there are 4 dots so 4x26=104
  left: 50%; //Centering de element
  margin-left: -52px; //adjusting the centering by applying a negative margin of half of the width
}
.carousel input {
  display: none;
}
.carousel .slidesNavigation label {
  float: left;
  margin: 6px;
  display: block;
  height: 10px;
  width: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: solid 2px;
  border-color: $highlight-clr;
  font-size: 0;
}
// You have to repeat this with each slide
//   TODO: make it easier with SCSS
//   25% movement 100/slides-num
#radio-1:checked ~ .slides {
  transform: translateX(0%);
}
#radio-2:checked ~ .slides {
  transform: translateX(-25%);
}
#radio-3:checked ~ .slides {
  transform: translateX(-50%);
}
#radio-4:checked ~ .slides {
  transform: translateX(-75%);
}
.carousel .slidesNavigation label:hover {
  cursor: pointer;
}
// You have to repeat this with each slide/dot
.carousel #radio-1:checked ~ .slidesNavigation label#dotForRadio-1,
.carousel #radio-2:checked ~ .slidesNavigation label#dotForRadio-2,
.carousel #radio-3:checked ~ .slidesNavigation label#dotForRadio-3,
.carousel #radio-4:checked ~ .slidesNavigation label#dotForRadio-4 {
  background: $highlight-clr;
}
