.contact{
    height: 100vh;
}
h2{
    font-family: $title-font;
}
.contact p{
    font-size: 1.5em;
    padding-bottom: 1.5rem;
}
i{
    padding-right: 1rem;
}
.final{
    max-width: 100%;
    height: auto;
    // margin: auto;
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
}
