.contact{
    height: 100vh;
    padding-bottom: 4rem;

}
h2{
    font-family: $title-font;
}
.contact p{
    font-size: 1.5em;
    padding-bottom: 1.5rem;
}
i{
    padding-right: 1rem;
}
.final{
    display: flex;
    justify-content: center;
    width: 80%;
    height: auto;
    margin: 2rem auto;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);

}
