.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 20px 10px;
  // position: sticky;
  // top: 0;
  // z-index: 10;
}

.logo {
  cursor: pointer;
}

.nav__items {
  list-style: none;
  li {
    display: inline-block;
    padding: 0 0 0 20px;
    a {
      font-weight: 600;
      transition: all 0.3s ease 0s;
    }
    a:hover {
      color: $tertiary-clr;
    }
  }
}
