.video{
  max-width: 90%;
  margin: auto;
  margin-top: 2rem;

  .ctnr{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;    
  }
}
.iframe-ctnr {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  // equals 16:9
  height: 0;
  
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
