* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: $primary-clr;
}

body {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: $secondary-clr;
}

li {
  list-style: none;
}
