* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: $primary-clr;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  max-width: 1500px;
  margin: 0 auto;
  font-size: 1em;
  color: $secondary-clr;
}

a {
  text-decoration: none;
  color: $secondary-clr;
}

li {
  list-style: none;
}

.ctnr {
  margin: 0 auto;
  padding-bottom: 2rem;
  // background: chartreuse;
  width: 90%;
}
