// for line on polygon
// https://stackoverflow.com/questions/43614690/css-polygon-shadow#43620598

// =====================================================

CSS

body {
    background-color: orange;
  }
  
  .navigation {
    filter: drop-shadow(0 1px 1px rgba(242, 232, 94, 1));
  }
  
  
  .innernav {
    /* PATH */
    clip-path: polygon(0 0, 100% 0, 100% 100px, 100% 100%, 0 100px);
        
    /* OTHERS */
    background-color: silver;
    color: white;
    height: 150px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  
  .main {
    padding: 200px 20px 0;
    text-align: center;
  }



//   HTML mark-up
// <nav class="navigation"><div class="innernav">Hi, I'm a nav.</div></nav>

// <main class="main">
//   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates quia velit modi veniam! Velit fuga facilis blanditiis iure aperiam cumque quasi officia quaerat dignissimos neque repellat quisquam voluptates sequi, hic?
//   quia velit modi veniam! Velit fuga facilis blanditiis iure aperiam cumque quasi officia quaerat dignissimos neque repellat quisquam voluptates sequi, hic?</p>
//       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates quia velit modi veniam! Velit fuga facilis blanditiis iure aperiam cumque quasi officia quaerat dignissimos neque repellat quisquam voluptates sequi, hic?
//   quia velit modi veniam! Velit fuga facilis blanditiis iure aperiam cumque quasi officia quaerat dignissimos neque repellat quisquam voluptates sequi, hic?</p>
//     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates quia velit modi veniam! Velit fuga facilis blanditiis iure aperiam cumque quasi officia quaerat dignissimos neque repellat quisquam voluptates sequi, hic?
//   quia velit modi veniam! Velit fuga facilis blanditiis iure aperiam cumque quasi officia quaerat dignissimos neque repellat quisquam voluptates sequi, hic?</p>
    
// </main>