// COLOURS
$primary-clr: #f2f2f2;
$secondary-clr: #071359;
$tertiary-clr: rgba(0, 94, 184, 1);
$tertiary-light-clr: rgba(0, 94, 184, 0.7);
$highlight-clr: #84d9c9;
//COLOURS BUTTON
// $button-clr: #422bd9;
//COLOURS DESIGN
$design1-clr: #f2e85e;
$design2-clr: #f26b6b;
$arrow-clr: #79f2c6;
// TEST
$test-clr: pink;
