// COLOURS
$primary-clr: rgba(242, 242, 242, 1);
$secondary-clr: rgba(7, 19, 89, 1);
$secondary-light-clr: rgba(7, 19, 89, 0.7);
$tertiary-clr: rgba(0, 94, 184, 1);
$tertiary-light-clr: rgba(0, 94, 184, 0.7);
$highlight-clr: rgba(132, 217, 201, 1);
$highlight-light-clr: rgba(132, 217, 201, 0.7);

//COLOURS DESIGN
$design1-clr: #f2e85e;
$design2-clr: #f26b6b;
$arrow-clr: #79f2c6;
// TEST
$test-clr: pink;
